/*
Typography

The base font for all sample widgets other than comment text is Roboto

Markup: <span>This is some text in Roboto font.</span>

Styleguide sample.css.typography
*/
.sample {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

/*
Headings

Generally, header <strong>tags</strong> should be used for semantic meaning and
header <strong>classes</strong> for style. In some cases they are the same, and
the class may be omitted.

Markup: <h1 class="{{modifier_class}}">This is an {{modifier_class}}</h1>

.h1 - a primary header
.h2 - a secondary header
.h3 - a ternary header
.h4 - a quaternary header
.h5 - a quinary header
.h6 - a senary header

Styleguide sample.css.typography.headings
*/
.sample {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        text-transform: capitalize;
    }

    h1,
    .h1 {
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 32px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
        font-weight: 400;
    }

    h5,
    .h5,
    h6,
    .h6 {
        font-size: 14px;
        font-weight: 400;
    }
}

/*
Comment text

Comment text uses the Droid Serif font

Markup: <div class="vf-comment-html">Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Vivamus iaculis sagittis interdum. Sed pharetra at lectus
dignissim euismod. Ut elementum gravida lacinia.</p></div>

Styleguide sample.css.typography.comments
*/
.sample {
    .vf-comment-html,
    .vf-content {
        font-family: 'Droid Serif', serif;
        line-height: 1.80;
    }
}

/*
Small text

Markup: <div class="vf-text-small">Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Vivamus iaculis sagittis interdum. Sed pharetra at lectus
dignissim euismod. Ut elementum gravida lacinia.</p></div>

Styleguide sample.css.typography.small_text
*/
.sample .vf-text-small {
    font-size: 12px;
}

/*
Emphasis

Markup: <em>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Vivamus iaculis sagittis interdum. Sed pharetra at lectus
dignissim euismod. Ut elementum gravida lacinia.</em>

Styleguide sample.css.typography.emphasis
*/
.sample em {
    font-style: normal;
    font-weight: 600;
}

/*
Strong

Markup: <strong>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Vivamus iaculis sagittis interdum. Sed pharetra at lectus
dignissim euismod. Ut elementum gravida lacinia.</strong>

Styleguide sample.css.typography.strong
*/
.sample strong,
.sample .vf-strong {
    text-transform: uppercase;
}

/*
Emphasis

Markup: <div class="vf-emph">Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Vivamus iaculis sagittis interdum. Sed pharetra at lectus
dignissim euismod. Ut elementum gravida lacinia.</div>

Styleguide sample.css.typography.emph
*/

.sample .vf-emph {
    font-style: italic;
}

/*
Label

Markup: <span class="vf-label {{modifier_class}}">Who do you think you are?</span>

.vf-label-upper - uppercase label
.vf-label-title - capitalized label

Styleguide sample.css.typography.label
*/
.sample .vf-label {
    font-size: 10px;

    &.vf-label-upper {
        text-transform: uppercase;
    }

    &.vf-label-title {
        text-transform: capitalize;
    }

    &.vf-label-heavy {
        font-weight: 900;
    }
}

.sample .vf-mdash {
    display: inline-block;
    &.vf-mdash-long {
        position: relative;
        width: 40px;
    }
    &.vf-mdash-long:before {
        content: '';
        position: absolute;
        top: -5px;
        border-bottom: 1px #000 solid;
        width: 30px;
        z-index: 0;
    }
}
